body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin-left: 0;
}

section {
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 8px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
}

.project {
  border-left: 4px solid #007BFF;
  padding-left: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 22px;
  }
}
